#section-about {
  position: relative;
  padding-top: 200px;
  @media screen and (max-width: $width-md) {
    padding-top: 30px;
  }

  //background-image: url('/assets/bio-bg.jpg');
  @include parallax-background();
  background-position: bottom center;


  .heading {
    text-align: center;

  }

  //Team Carousel
  .team-card {
    border: solid 1px #5F5B4A;
    border-radius: 10px;
    padding: 60px 45px;
    img {
      border-radius: 10px;
    }
    &-wrapper {
      padding: 0px 35px;
    }
    h4 {
      color: #7a3b69;
      font-weight: 900;
      margin-bottom: 15px;
    }
    p {
      color: #535353;
      font-size: 18px;
    }
  }

  .team-carousel-wrapper {
    padding-bottom: 30px;
  }
}
