#section-certificates {
  background-color: $c-associations;
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;

  .owl-item {
    text-align: center;
    height: 100%;
    position: relative;
    top: 37px;
    transform: translateY(-50%);
    img {
      width: inherit;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .association-item {
    //text-align: center;
  }
}

#section-links {
  background-color: #CFD1CE;

  .container {
    position: relative;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (max-width: $width-xs) {
      flex-direction: column;
    }
  }
  h6 {
    color: #585756;
    margin-bottom: 0;
  }
  img {
    max-width: 250px;
  }
}