
//Fix for insurance background on mobile
.mobile-insurance-fix {
  display: none;
  @media (max-width: $width-sm) {
    margin-top: -100px;
    display: block;
  }
}

#section-insurance {
  padding-top: 50px;
  background-image: url('/assets/insurance-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  @media (max-width: $width-sm) {
    background-color: #ffffff;
    background-image: none;
    text-align: center;
  }
  .sub-text {
    line-height: 1.2;
    &--last {
      margin-bottom: $spacing-lg;
    }
  }

  h2 {
    color: #624A5A;
    font-weight: 700;
    @include font-size(72px, 60px, 45px, 45px, 32px);
    margin-bottom: 0;
    text-transform: uppercase;
  }
  h4 {
    @include font-size(40px, 35px, 26px, 28px, 22px);
    color: #84B442;
    font-family: $ff-cardo;
    font-weight: 400;
  }
  h3 {
    color: #424242;
    font-weight: 400;
    line-height: 1.2;
    @include font-size(35px, 30px, 27px, 28px, 22px);
  }
  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    @include lr-padding(60px, 60px, 60px, 40px, 40px);
    margin-bottom: 100px;
  }
  h6 {
    color: #424242;
    font-size: 16px;
    font-weight: 400;
  }
}
