#section-location {
  background-image: url('/assets/bottom-bg.jpg');
  padding-top: 45px;
  padding-bottom: 45px;

  //position: relative;
  //
  .location-card--wrapper {
    height: 100%;
  }

  @media screen and (min-width: $width-md ) {
    .row {
      display: flex;
    }
  }

}

.location-card {
  border-radius: 0.1px;
  border: solid 2px white;
  z-index: 0;
  height: 100%;
  position: relative;
  @media (max-width: $width-md) {
    margin-bottom: 5px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0);
  }
  img {
    width: 60%;
    max-width: 300px;
    padding-top: $spacing-lg;
    padding-bottom: $spacing-sm;
  }
  p {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 0.8;
  }
  h6 {
    color: #ffffff;
    font-weight: 400;
    font-family: $ff-open;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: $lh-sm;
  }
  a>h6 {
    padding-top: 30px;
    padding-bottom: $spacing-md;
    font-weight: 400;
    font-size: 16px;
    color: #FDF378;
  }
  .phone-number {
    line-height: $lh-sm;
    font-family: $ff-lato;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 0;
    a:hover {
      color: #ffffff !important;
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .phone-number-2 {
    color: #ffffff;
  }
  .btn {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 50%);
  }
  h6:last-child {
    padding-bottom: $spacing-lg;
  }
}

#google-map5 {
  height: 700px;
  @media (max-width: $width-md) {
    height: 300px;
    margin-top: 45px;
  }
}

.hours-table {
  color: #ffffff;
  padding-bottom: $spacing-md;
  padding-top: 30px;
  h5 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 21px;
  }
  th {
    width: 1px;
    white-space: nowrap;
    padding-right: 20px;
    text-align: left;
  }

  td {
    text-align: left;
  }

  table {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

