#slider {
  height: 50vw;
  max-height: 800px;

  .swiper-slide {
    background-position: top center;
  }

  .swiper-slide.slide1 {
    background-image: url('/assets/slide1.jpg');
    background-position: 80%;
  }
  .swiper-slide.slide2 {
    background-image: url('/assets/slide2.jpg');
    background-position: 70%;
  }
  .swiper-slide.slide3 {
    background-image: url('/assets/slide3.jpg');
    background-position: 60%;
  }

  .swiper-slide .row {
    @include vertical-center(45%);
  }

  .slide1 {
    h1 {
      color: #7a3b69;
      @include font-size(144px, 122px, 45px, 45px, 45px);
      margin-bottom: 0;
      font-weight: 900;
      line-height: 1;
    }
    h2 {
      font-family: $ff-cardo;
      color: #82b241;
      margin-top: 0;
      line-height: 1;
      @include font-size(63px, 54px, 45px, 45px, 45px);
      margin-bottom: 60px;
    }
    h5 {
      color: #5e5a49;
      font-weight: 700;
      margin-bottom: 15px;
    }

  }
  .slide2 {

    h1 {
      color: #7a3b69;
      @include font-size(48px, 40px, 45px, 45px, 45px);
      font-weight: 900;
      line-height: 1.2;
      margin-bottom: 10px;
    }
    h2 {
      color: #83b341;
      font-family: $ff-cardo;
      @include font-size(48px, 40px, 45px, 45px, 45px);
      margin-bottom: 10px;
    }

    .stars {
      color: #ffd900;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
      i { font-size: 40px; }
      h3 { margin-bottom: 0; }
    }
    h5 {
      color: #5e5a49;
      font-weight: 700;
      margin-bottom: 15px;
    }

  }
  .slide3 {
    h1 {
      color: #7A3B69;
      margin-bottom: 0;
      font-weight: 700;
      text-transform: uppercase;
      line-height: $lh-sm;
    }
    h2 {
      color: #83B341;
      line-height: $lh-sm;
      font-weight: 700;
      font-family: $ff-cardo;
      @include font-size(46px, 40px, 45px, 45px, 45px);
      margin-bottom: 60px;
    }
    h3 {
      color: #424242;
      font-weight:700;
      line-height: $lh-sm;
      margin-bottom: $spacing-md;
    }

    .btn {
      @include lr-padding(80px, 60px, 60px);
    }
  }

  .icon-star3 {
    color: $c-star;
  }

  .arrow-down--wrapper {
    height: 20px;
  }

  //Reposition arrow higher for transparent phone-slug
  .one-page-arrow {
    bottom: 140px;
  }

}

.animated.infinite {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 999;
  color: $c-grey-red-2;
}

.icon-arrow-down {
  color: white;
  border: 2px solid white;
  border-radius: 10000px;
  width: 50px;
  height: 50px;
  font-size: 30px;
}


#mobile-background {
  display: none;
  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}