.phone-slab {

  //fix to make it transparent

  &.phone-slab-marquee-one {
    .container {
      position: absolute;
      width: 100%;
      bottom: 0;
      top: -120px;
    }
  }

  &:not(.phone-slab-2) {
    background-color: rgba(255, 255, 255, 1);
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 80px;
  }


  .phone-number {
    font-family: $ff-lato;
    color: #424242;
    font-weight: 900;
    a:hover {
      color: #424242 !important;
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    @media screen and (max-width: $width-md) {
      margin-bottom: $spacing-sm;
    }
    &--sub {
      font-weight: 900;
    }
  }

  //Special styling for desktop cards for phone slug - Heath
  .phone-card {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    height: 100%;

    &-one {
      background-color: #8FC449;
      padding: 15px 60px;
      img {
        max-width: 85px;
        margin-bottom: 10px;
      }
    }
    &-two {
      background-color: #28a1c2;
      padding: 15px 60px;
      img {
        max-width: 85px;
        margin-bottom: 30px;
      }
    }
  }

  .new-text {

  }



  .row {
    @media screen and (min-width: $width-md+1) {
    display: flex;
    }
    .btn {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  h3,
  h5,
  h6 {
    line-height: $lh-sm;
    margin-bottom: 0;
  }
  h3 {
    @media screen and (max-width: $width-md) {
      margin-bottom: $spacing-md;
    }
  }
  .row:first-child {
    padding-bottom: $spacing-sm;
  }
  &__left {
    //border-right: solid 2px #6c4117;
    text-align: right;
    @media screen and (max-width: $width-md) {
      margin-top: 5px;
      text-align: center;
      border-right: none;
    }
  }
  &__right {
    text-align: left;
    @media screen and (max-width: $width-md) {
      text-align: center;
      margin-bottom: $spacing-sm;
    }
  }
  h6 {
    font-size: 16px;
  }


}

#section-phone-slug-3 {
  background-color: #8fc449;
  padding-top: 30px;
  padding-bottom: 30px;
}