#section-reviews {

  .review-wrapper {
    background-image: url('/assets/reviews_bkgd.jpg');
    background-position: center top;
    background-size: cover;
    padding-top: 600px;
    @media screen and (max-width: $width-lg) {
      padding-top: 380px;
      #bf-revz-widget-2803954473 iframe {
        height: 450px;
      }
    }
    @media screen and (max-width: $width-md) {
      padding-top: 340px;
      #bf-revz-widget-2803954473 iframe {
        height: 300px;
      }
    }
    @media screen and (max-width: $width-sm) {
      background-image: none;
      background-color: #624A5A;
      padding-top: 0;
    }
  }

  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #624a5a;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }

  h2 {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0;
    line-height: 1;
  }

  hr {
    width: 250px;
    border-top-color: $c-grey-red;
  }

  @include birdeye-footer();

  /// Mobile fix for standard birdeye review restack
  @media screen and (max-width: $width-sm) {
    background-color: #624a5a;
    .mobile-image {
      margin-top: -50px;
    }
  }

}
