#section-services {
  position: relative;
  .heading {
    h2 {
      color: #5f5b4a;
      margin-bottom: 10px;
    }
    p {
      color: #4a4a4a;
    }
    a {
      @include link-color(#4A4A4A);
      text-decoration: underline;
    }
  }

  .services--main {

    &--row-one {
      background-color: #446973;
      padding-bottom: 30px;
    }

    &--row-two {
      background-color: #9B9F5A;
      padding-bottom: 30px;
    }

    img {
      border: solid 2px white;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    //'floating' images
    @media screen and (min-width: $width-sm - 1) {
      img {
        margin-top: -45px;
        margin-bottom: -45px;
      }
      &--row-one {
        margin-top: 75px;
        padding-bottom: 0;
      }

      &--row-two {
        margin-top: 150px;
        margin-bottom: 75px;
        padding-bottom: 0;
      }
    }

    h3 {
      color: #ffffff;
      padding-top: 30px;
      margin-bottom: 10px;
    }
    p {
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
}

.services-carousel {

}

.service-modal-wrapper {
  & .modal-title {
    @include h3;
    font-weight: 700;
    color: $c-grey-red;
    padding-top: 10px;
  }
  & p {
    color: $c-grey-red;
    padding-bottom: 15px;
  }
  .modal-image {
    text-align: center;
    @media screen and (max-width: $width-md) {
      display: none;
    }
  }
  img {
    max-width: 270px;
    padding-bottom: 20px;
  }
}
