#section-services {
  position: relative;
  .heading {
    h2 {
      color: #5F5B4A;
      margin-bottom: 10px;
      padding-top: 30px;
    }
    p {
      color: #4a4a4a;
    }
    a {
      @include link-color(#4A4A4A);
      text-decoration: underline;
    }
  }

  .services--main {

    &--row-one {
      background-color: #446973;
      padding-bottom: 30px;
    }

    &--row-two {
      background-color: #9B9F5A;
      padding-bottom: 30px;
    }

    img {
      border: solid 2px white;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    //'floating' images
    @media screen and (min-width: $width-sm - 1) {
      img {
        margin-top: -45px;
        margin-bottom: -45px;
      }
      &--row-one {
        margin-top: 75px;
        padding-bottom: 0;
      }

      &--row-two {
        margin-top: 150px;
        margin-bottom: 75px;
        padding-bottom: 0;
      }
    }

    h3 {
      color: #ffffff;
      padding-top: 30px;
      margin-bottom: 10px;
    }
    p {
      color: #ffffff;
      margin-bottom: 10px;
    }
  }
}

.services-carousel {
  &--wrapper {
    background-color: #ACBFB2;
    margin-top: 120px;
  }

  //custom background
  .carousel--wrapper {
    margin-top: -30px;
  }
  .service-item {
    text-align: center;
    h5 {
      color: #7a3b69;
      padding-top: 10px;
    }
    img {
      border: solid 2px white;
      border-radius: 10px;
    }
  }

  .owl-carousel .owl-nav .owl-prev {
    left: -30px;
  }
  .owl-carousel:hover .owl-nav .owl-prev {
    left: -30px;
  }
  .owl-carousel .owl-nav .owl-next {
    right: -30px;
  }
  .owl-carousel:hover .owl-nav .owl-next {
    right: -30px;
  }

}
//Needed for background bar
.white-div {
  width: 100%;
  height:80px;
  background-color: white;
  margin-top: -80px;
}

.service-modal-wrapper {
  & .modal-title {
    @include h3;
    font-weight: 700;
    color: $c-grey-red;
    padding-top: 10px;
  }
  & p {
    color: $c-grey-red;
    padding-bottom: 15px;
  }
  .modal-image {
    text-align: center;
    @media screen and (max-width: $width-md) {
      display: none;
    }
  }
  img {
    max-width: 270px;
    padding-bottom: 20px;
  }
}
