#section-specials {

    background-image: url('/assets/specials-bkg.png');
    @include parallax-background;


  .heading {
    padding-bottom: $spacing-md;
    padding-top: 30px;
    margin-bottom: 60px;

    &--main {
      font-weight: 700;
      color: white;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);

      margin-bottom: 0;
      line-height: 1;
    }
    &--byline {
      font-weight: 700;
      color: white;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);

      margin-bottom: 0;
    }

  }

  .card {
    //height fix
    display: flex;
    flex-direction: column;

    background-color: rgba($c-white, 0);
    text-align: center;
    height: 100%;
    border-radius: 0.1px;
    color: $c-white;


    .top {
      height: 180px;
      border-bottom: 5px solid rgba(255, 255, 255, 0);
      border-radius: 10px;
      .price {
        position: relative;
        display: inline-block;
        border-radius: 9999px;
        border: solid 3px white;
        height: 150px;
        width: 150px;
      }
      h1 {
        color: $c-white;
        margin-bottom: 0;
        padding: $spacing-sm;
        padding-top: $spacing-md;
        line-height: $lh-xs;
        font-weight: 700;
        font-size: 84px !important;
        font-family: $ff-lato;
        &:before {
          font-family: $ff-lato;
          content: '$';
          font-size: 36px;
          font-weight: 300;
          position: absolute;
          top: $spacing-md;
          left: 10px;
        }
      }
      h3 {
        color: $c-white;
        margin-bottom: 0;
        line-height: $lh-xs;
        padding-top: $spacing-md;
        @include font-size(30px, 30px, 25px, 30px, 30px);
        font-weight: 900;
        padding-bottom: $spacing-sm;
        //For different second line weight
        span {
          //font-weight: 700;
        }
      }
    }

    .bottom {
      margin-top: 5px;
      height: 100%;
      border-radius: 10px;

      background-color: rgba($c-white, 0.85);
      // Savings
      h6:first-child {
        padding-top: 80px;
        text-transform: uppercase;
        @include h5;
        font-family: $ff-lato;
        font-weight: 400;
      }
      .copy {
        padding-left: $spacing-sm;
        padding-right: $spacing-sm;
        color: #484848;
        font-weight: 400;
        margin-bottom: 80px;
      }
      p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 100%;
        padding-bottom: $spacing-sm;
        color: $c-grey-red-4;
      }
    }
  }
  .card-1 .price {  background-color: #81B737;  }
  .card-2 .price {  background-color: #7A3B69;  }
  .card-3 .price {  background-color: #128FB0;  }
  .card-1 .bottom h6:first-child {  color: #81B737;  }
  .card-2 .bottom h6:first-child {  color: #7A3B69;  }
  .card-3 .bottom h6:first-child {  color: #128FB0;  }
  .card-1 .top {  background-color: #487935;  }
  .card-2 .top {  background-color: #672856;  }
  .card-3 .top {  background-color: #007393;  }

  .row {
    display: flex;
    padding-bottom: $spacing-xl;
    @media screen and (max-width: $width-sm) {
      display: block;
      .card {
        margin-bottom: $spacing-md;
      }
    }
  }
}